h1{
    
    display: flex;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 400%;              
    margin: 5% 20% 0; 
}
.columnleft
{
    text-align: center;
    float: left;
    width: 50%;
    margin: 7% 0;
}
.columnright 
{
    text-align: center;
    float: left;
    width: 30%;
    margin: 7% 5% 0;
}
.darkmode 
{
    background-color: #111;
    color: aliceblue;
}
.darkmode {
    background-color: #111;
    color: aliceblue;
}