/*CSS För alla sidor i Brickbase-projektet*/

/*Typsnitt som används för alla rubriker, knappar*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
/*Typsnitt som används för bitar och set*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    background: linear-gradient(rgb(229, 241, 252), rgb(255, 194, 103));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    padding: 0;
    margin: 0;
}
/*CSS för menyn, start*/

/*Placeholder för eventuell loga*/
.image_placeholder{
    color: aliceblue;
    font-family: 'Fredoka', sans-serif;
    padding-left: 5px;
}
/*Banderollen överst på sidan för navigation mellan olika sidor*/
.navbar{
    overflow: hidden;
    background-color: rgb(3, 3, 95);
    /*position: fixed;*/
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*Text under nightmode knappen*/
#NightMode{
    font-size: 0.9vw;
    display: flex;
    justify-content: right;
}
/*Knapparna i banderollen*/
.NavButton{
  display: inline-block;
  padding: 15px 25px;
  font-size: 2vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkorange;
  border: none;
  border-radius: 1vw;
  box-shadow: 0 9px #999;
}
.NavButton:hover{
    background-color: rgb(233, 148, 44);
}
.NavButton:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.navbar .NavButton{
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
}
/*Allt som ingår i sökfunktionen. dvs sökfält och knapp*/
.SearchBox{ 
	margin: auto; 
	width: 100vw; 
	display: flex; 
	flex-wrap: nowrap; 
	flex-direction: row; 
	justify-content: center; 
}
#SearchBar{
width: 40vw;
height: 4vw;
font-size: 2vw;
font-family: 'Fredoka', sans-serif;
margin-right: 5px;
}
/*Submitknapp*/
#SubmitButton{
    width: 6vw;
    height: 4.25vw;
    visibility: visible;
    border-radius: 20%;
    color: darkorange;
    background-color: rgb(3, 3, 95);
    font-family: 'Staatliches', cursive;
    font-size: 1.8vw;
    cursor: pointer;
}
/*Osynlig checkbox som tillhör nightmode-knappen*/
#darkmode_toggle{
    width: 0;
    height: 0;
    visibility: hidden;
}
/*Efter checkbox är itryckt så blir bakgrund grå*/
input:checked + label{
    background: #5b5959;
}
/*Efter checkbox är itryckt så flyyttar cirkeln/label sig*/
input:checked + label:after{
    left: 8px;
    transform: translateX(100%);
}
/*Hela darkmode knappens låda*/
label{
    float: right;
    height: 0px;
    width: 50px;
    display: block;
    position: relative;
    background: #ebebeb;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    margin-right: 25px;
    color: darkorange;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    padding-top: 26px;
    justify-content: right;
}
label:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, rgb(250, 140, 0), #dea247);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
label, label:after{
    transition: 0.3s
}
/*CSS för menyn, slut*
/*Text ovanför sökfunktionen*/
.ShortIntro{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 150%;
    margin-top: 10%;
    margin-bottom: 2%;
    color: rgb(3, 3, 95);
}
/*Skapa kolummner i AboutUs.php*/
.columnleft{
    text-align: center;
    float: left;
    width: 50%;
    margin: 7% 0;
}
.columnright {
    text-align: center;
    float: left;
    width: 30%;
    margin: 7% 5% 0;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka', sans-serif;             
    margin: 5% 20% 0; 
    color: rgb(3, 3, 95);
    font-size: 4vw;
}
/*Knapp för bit som sedan länkas till set*/
.PieceButton{
    display: inline-block;
    padding: 1% 1% 1% 1%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    /*color: #fff;*/
    background-color: hsl(0, 0%, 93%);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(54, 54, 145);
    color: rgb(3, 3, 90);
    max-width: 15vw;
    max-height: 12vw;
    min-height: 12vw;
    min-width: 15vw;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    overflow: auto;
    word-wrap: break-word;
}
.PieceButton:hover{
    background-color: rgb(212, 218, 230);
}
.PieceButton:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.navbar .PieceButton{
    color: #ffffff;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*Slut*/
h2{
    font-family: 'Fredoka', sans-serif;
}
h3{
    font-family: 'Staatliches', cursive;
    color: rgb(3, 3, 95);
    display: flex;
    justify-content: center;
    font-size: 2vw;
    word-wrap: break-word;
    overflow: auto;
}
.darkmode{
    background: linear-gradient(rgb(3, 3, 95), rgb(241, 145, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.darkmode h1{
    color: rgb(255, 255, 255);
}
.darkmode p{
    color: rgb(255, 255, 255);
}
.darkmode h3{
    color: rgb(255, 255, 255);
}
.TextOverflow{
    word-wrap: break-word;
    overflow: auto
}
