h1{
    text-align: center;
}
#Searchbar{
    text-align: center;
    margin-top: 1%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
p{
    text-align: center;
    margin-bottom: 25%;
    border: 2%;
    border-color: black;
}
label{
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
  
input {
    width: 35%;
    height: 15px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.MenuContainer{
    justify-content: space-evenly
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(7, 48, 230);
  }
  li a {
    display: block;
    color: rgb(255, 137, 2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.darkmode {
    background-color: #111;
    color: aliceblue;
}
