@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
    padding: 0;
    margin: 0;
}
/*CSS för menyn, start*/
.image_placeholder{
    color: aliceblue;
    font-family: 'Luckiest Guy', cursive;
    padding-left: 5px;
}
.navbar{
    overflow: hidden;
    background-color: rgb(3, 3, 95);
    /*position: fixed;*/
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#NightMode{
    color: darkorange;
    font-family: 'Luckiest Guy', cursive;
    display: flex;
    text-decoration: underline;
    padding-top: 26px;
    justify-content: right;
    
}
a{
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
a:hover{
    background-color: rgb(184, 101, 0);
}
a:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.navbar a{
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    text-decoration: none;
}
.searchbar {
	float: center; 
	margin: auto; 
	width: 100vw; 
	display: flex; 
	flex-wrap: nowrap; 
	flex-direction: row; 
	justify-content: center; 
}

input{
    width: 300px;
    height: 50px;
    visibility: visible;
}

#darkmode_toggle{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #5b5959;
}
input:checked + label:after{
    left: 8px;
    transform: translateX(100%);
}
label{
    float: right;
    height: 25px;
    width: 50px;
    display: block;
    position: relative;
    background: #ebebeb;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    margin-right: 25px;
}
label:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: linear-gradient(180deg, #e8890d, #dea247);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
label, label:after{
    transition: 0.3s
}
/*CSS för menyn, slut*/
h1{
    
    display: flex;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 400%;
}
